{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "func-names": "off"
  },

  "env": {
    "browser": true,
    "node": true
  }
}
